{
  "swagger": "2.0",
  "info": {
    "title": "ExchangeRatesApi",
    "version": "1.0",
    "description": "API that provides infomation about exchange rates. The exchange rates API is a readonly API. It provides a list of exchange rates."
  },
  "host": "servicehub-api.haufe.io",
  "basePath": "/exchangerates",
  "schemes": [
    "http",
    "https"
  ],
  "paths": {
    "/api/v1/exchangerates": {
      "get": {
        "description": "Returns a list of currency exchange rate.<br />\r\n                You can sort the list for example with <b>sort=-name,+iso_code.</b><br />   \r\n                Refer to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a> for a more detailed explanation.<br />\r\n                The resulting list of banks includes additional list and hypermedia information corresponding to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>",
        "operationId": "ExchangeRates_exchangerates",
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "description": "refer to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>.",
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Format - int32. page size used in the execution of the query.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page number to deliver",
            "type": "integer"
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExchangeRateListRepresentation"
            }
          },
          "204": {
            "description": "No content when list is empty",
            "schema": {
              "$ref": "#/definitions/ExchangeRateListRepresentation"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "produces": [
          "application/json",
          "text/json"
        ]
      }
    },
    "/api/v1": {
      "get": {
        "description": "Entry point for the ExchangeRates API.<br />\r\n                The API follows the rule described in <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>",
        "operationId": "ExchangeRates_GET",
        "parameters": [
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseUrlListRepresentation"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ]
      }
    },
    "/api/v1/exchangerates/{iso_code}": {
      "get": {
        "description": "Returns a specific bank matching the bank code.",
        "operationId": "ExchangeRates_GetByCode",
        "parameters": [
          {
            "name": "iso_code",
            "in": "path",
            "description": "iso code as filter",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ExchangeRateRepresentation"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ]
      }
    }
  },
  "definitions": {
    "BaseUrlListRepresentation": {
      "description": "Model class for showing list of all operations provided by API",
      "type": "object",
      "properties": {
        "welcome": {
          "description": "WELCOME message",
          "type": "string",
          "readOnly": true
        },
        "purpose": {
          "description": "PURPOSE message",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "COPYRIGHT message",
          "type": "string",
          "readOnly": true
        },
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "_embedded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmbeddedResource"
          }
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "curie": {
          "$ref": "#/definitions/CuriesLink",
          "readOnly": true
        },
        "rel": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "deprecation": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "href_lang": {
          "type": "string"
        },
        "is_templated": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "EmbeddedResource": {
      "type": "object",
      "properties": {
        "IsSourceAnArray": {
          "type": "boolean"
        },
        "Resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IResource"
          },
          "readOnly": true
        }
      }
    },
    "CuriesLink": {
      "type": "object",
      "properties": {
        "Name": {
          "type": "string",
          "readOnly": true
        },
        "Href": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "IResource": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "ExchangeRateListRepresentation": {
      "description": "For HAL response.",
      "type": "object",
      "properties": {
        "total_count": {
          "format": "int32",
          "description": "Total number of records in response",
          "type": "integer"
        },
        "total_pages": {
          "format": "int32",
          "description": "Total number of pages in response",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "description": "current page of the results",
          "type": "integer"
        },
        "page_size": {
          "format": "int32",
          "description": "page size of the response",
          "type": "integer"
        },
        "_links": {
          "$ref": "#/definitions/Links",
          "description": "adding link to base url of the call method"
        },
        "ResourceList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExchangeRateRepresentationList"
          }
        },
        "_embedded": {
          "$ref": "#/definitions/ExchangeRateRepresentationList"
        }
      }
    },
    "Links": {
      "description": "",
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to the same page"
        },
        "first": {
          "$ref": "#/definitions/urlclass",
          "description": "link to fetch first page of the result"
        },
        "prev": {
          "$ref": "#/definitions/urlclass",
          "description": "link to fetch previous page of the result"
        },
        "next": {
          "$ref": "#/definitions/urlclass",
          "description": "link to fetch next page of the result"
        },
        "last": {
          "$ref": "#/definitions/urlclass",
          "description": "link to fetch last page of the result"
        },
        "find": {
          "$ref": "#/definitions/urlclass",
          "description": "link to find results directly with the id"
        }
      }
    },
    "ExchangeRateRepresentationList": {
      "description": "",
      "type": "object",
      "properties": {
        "exchangerates": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ExchangeRateRepresentation"
          }
        },
        "publish_date": {
          "format": "date-time",
          "description": "publish date of list of exchange rates",
          "type": "string"
        },
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "_embedded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmbeddedResource"
          }
        }
      }
    },
    "urlclass": {
      "description": "",
      "type": "object",
      "properties": {
        "href": {
          "description": "link of page(s)",
          "type": "string"
        }
      }
    },
    "ExchangeRateRepresentation": {
      "description": "HAL response class",
      "type": "object",
      "properties": {
        "iso_code": {
          "description": "iso code of the currency",
          "type": "string"
        },
        "name": {
          "description": "name of currency",
          "type": "string"
        },
        "publish_date": {
          "format": "date-time",
          "description": "The date when the value was published. It is an open question, if this property will be required. Normally only the\r\n            complete list will be loaded by clients and not single values",
          "type": "string"
        },
        "rate": {
          "format": "double",
          "description": "rate of currency",
          "type": "number"
        },
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "_embedded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmbeddedResource"
          }
        }
      }
    }
  }
}