{
  "swagger": "2.0",
  "info": {
    "title": "TaxOfficeInfoApi",
    "version": "1.0",
    "description": "API that provides infomation about German Tax Offices. The taxoffice API is a readonly API. It provides a list of tax offices (Finanz&auml;mter) and their addresses."
  },
  "host": "servicehub-api.haufe.io",
  "basePath": "/TaxAPI",
  "schemes": [
    "https"
  ],
  "paths": {
    "/taxofficeinfo/v1": {
      "get": {
        "description": "Entry point for the TaxOfficeInfo API.<br />\r\n                The API follows the rule described in <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>",
        "operationId": "Basic Entry Point",
        "parameters": [
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/BaseUrlListRepresentation"
            }
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/hal+json",
          "application/hal+xml"
        ]
      }
    },
    "/taxofficeInfo/v1/search": {
      "get": {
        "description": "Returns a list of tax offices matching the search criteria <b>q</b>.<br />\r\n                All items where the search term in param <b>q</b> matches the tax_office_code, name or postal_code are included.<br />\r\n                You can sort the list for example with <b>sort=-postal_code,+name.</b><br />\r\n                Refer to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a> for a more detailed explanation.   \r\n                The resulting list of tax offices includes additional list and hypermedia information corresponding to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>",
        "operationId": "Search",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "search term",
            "required": true,
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "sort expression see <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/collection-resources.md\">Haufe API Style Guide</a>",
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Format - int32. page size used in the execution of the query.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page number to deliver",
            "type": "integer"
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaxListRepresentation"
            }
          },
          "204": {
            "description": "No content when list is empty",
            "schema": {
              "$ref": "#/definitions/TaxListRepresentation"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/hal+json",
          "application/hal+xml"
        ]
      }
    },
    "/taxofficeInfo/v1/taxoffices": {
      "get": {
        "description": "Returns a list of tax offices.<br />\r\n                You can filter the list with the params tax_office_code, name and address.<br />\r\n                You can sort the list for example with <b>sort=-postal_code,+name.</b><br />   \r\n                Refer to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a> for a more detailed explanation.<br />\r\n                The resulting list of tax offices includes additional list and hypermedia information corresponding to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>",
        "operationId": "Retrieve tax offices",
        "parameters": [
          {
            "name": "tax_office_code",
            "in": "query",
            "description": "tax office code as filter",
            "type": "string"
          },
          {
            "name": "name",
            "in": "query",
            "description": "name of tax office as filter",
            "type": "string"
          },
          {
            "name": "address",
            "in": "query",
            "description": "address of tax office as filter",
            "type": "string"
          },
          {
            "name": "sort",
            "in": "query",
            "description": "refer to <a target=\"_blank\" href=\" https://github.com/Haufe-Lexware/api-style-guide/blob/master/filtering-sorting-field-selection-and-paging.md\">Haufe API Style Guide</a>.",
            "type": "string"
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "Format - int32. page size used in the execution of the query.",
            "type": "integer"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Format - int32. page number to deliver",
            "type": "integer"
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaxListRepresentation"
            }
          },
          "204": {
            "description": "No content when list is empty",
            "schema": {
              "$ref": "#/definitions/TaxListRepresentation"
            }
          },
          "400": {
            "description": "Bad request"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/hal+json",
          "application/hal+xml"
        ]
      }
    },
    "/taxofficeinfo/v1/taxoffices/{tax_office_code}": {
      "get": {
        "description": "Returns a specific tax office matching the tax office code.",
        "operationId": "Retrieve specific tax office",
        "parameters": [
          {
            "name": "tax_office_code",
            "in": "path",
            "description": "tax office code",
            "required": true,
            "type": "string"
          },
          {
            "name": "subscription-key",
            "in": "query",
            "description": "subscription key in url",
            "type": "string"
          },
          {
            "name": "Ocp-Apim-Subscription-Key",
            "in": "header",
            "description": "subscription key in header",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TaxRepresentation"
            }
          },
          "404": {
            "description": "Not Found"
          }
        },
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/hal+json",
          "application/hal+xml"
        ]
      }
    }
  },
  "definitions": {
    "BaseUrlListRepresentation": {
      "description": "Model class for showing list of all operations provided by API",
      "type": "object",
      "properties": {
        "welcome": {
          "description": "API WELCOME message",
          "type": "string",
          "readOnly": true
        },
        "purpose": {
          "description": "API PURPOSE message",
          "type": "string",
          "readOnly": true
        },
        "copyright": {
          "description": "API COPYRIGHT message",
          "type": "string",
          "readOnly": true
        },
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "_embedded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmbeddedResource"
          }
        }
      }
    },
    "Link": {
      "type": "object",
      "properties": {
        "rel": {
          "type": "string"
        },
        "href": {
          "type": "string"
        },
        "title": {
          "type": "string"
        },
        "type": {
          "type": "string"
        },
        "deprecation": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "profile": {
          "type": "string"
        },
        "href_lang": {
          "type": "string"
        },
        "is_templated": {
          "type": "boolean",
          "readOnly": true
        }
      }
    },
    "EmbeddedResource": {
      "type": "object",
      "properties": {
        "IsSourceAnArray": {
          "type": "boolean"
        },
        "Resources": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/IResource"
          },
          "readOnly": true
        }
      }
    },
    "IResource": {
      "type": "object",
      "properties": {
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        }
      }
    },
    "TaxRepresentation": {
      "description": "HAL response class",
      "type": "object",
      "properties": {
        "id": {
          "format": "int32",
          "description": "internal id, currently not been used",
          "type": "integer"
        },
        "tax_office_code": {
          "description": "offical tax office code",
          "type": "string"
        },
        "name": {
          "description": "name of tax office",
          "type": "string"
        },
        "street": {
          "description": "street of tax office",
          "type": "string"
        },
        "postal_code": {
          "description": "postal code of tax office",
          "type": "string"
        },
        "location": {
          "description": "location/city of tax office",
          "type": "string"
        },
        "telephone": {
          "description": "phone number of tax office",
          "type": "string"
        },
        "fax": {
          "description": "fax number of tax office",
          "type": "string"
        },
        "bank_code": {
          "description": "bank code of tax office",
          "type": "string"
        },
        "opening_hours": {
          "description": "opening hours",
          "type": "string"
        },
        "email": {
          "description": "email",
          "type": "string"
        },
        "url": {
          "description": "web site of tax office",
          "type": "string"
        },
        "remarks": {
          "description": "additional remarks",
          "type": "string"
        },
        "address": {
          "description": "address of tax office",
          "type": "string"
        },
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "_embedded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmbeddedResource"
          }
        }
      }
    },
    "TaxListRepresentation": {
      "description": "For HAL response.",
      "type": "object",
      "properties": {
        "total_count": {
          "format": "int32",
          "description": "total number of records in response",
          "type": "integer"
        },
        "total_pages": {
          "format": "int32",
          "description": "total number of pages in response",
          "type": "integer"
        },
        "page": {
          "format": "int32",
          "description": "current page number",
          "type": "integer"
        },
        "page_size": {
          "format": "int32",
          "description": "page size of the response, number of records on the current page",
          "type": "integer"
        },
        "_links": {
          "$ref": "#/definitions/Links",
          "description": "adding link to base url of the call method"
        },
        "ResourceList": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxRepresentationList"
          }
        },
        "_embedded": {
          "$ref": "#/definitions/TaxRepresentationList"
        }
      }
    },
    "Links": {
      "description": "",
      "type": "object",
      "properties": {
        "self": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to the same page"
        },
        "first": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to fetch first page of the result"
        },
        "prev": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to fetch previous page of the result"
        },
        "next": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to fetch next page of the result"
        },
        "last": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to fetch last page of the result"
        },
        "find": {
          "$ref": "#/definitions/urlclass",
          "description": "Link to find tax office directly with the id"
        }
      }
    },
    "TaxRepresentationList": {
      "description": "",
      "type": "object",
      "properties": {
        "taxoffices": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TaxRepresentation"
          }
        },
        "_links": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Link"
          }
        },
        "_embedded": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/EmbeddedResource"
          }
        }
      }
    },
    "urlclass": {
      "description": "",
      "type": "object",
      "properties": {
        "href": {
          "description": "Link of page(s)",
          "type": "string"
        }
      }
    }
  }
}